/* src/App.css */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
}

footer {
  background-color: #333;
  color: #fff;
  padding: 1em;
  text-align: center;
}

/* src/App.css */
#main {
  text-align: center;
  color: #fff;
  /* padding: 50px; */
  position: relative;
}

#main .content {
  position: relative;
  z-index: 2; /* Ajuste o zIndex para garantir que o conteúdo esteja acima da sobreposição */
}

